<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
              <button type="button" class="btn btn-secondary btn-lg">Load from VK</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-secondary btn-lg">Search</button>
            </div>
        </div>
    </div>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE3qv-7H_8a3KbZ61RUWXFKlmz9zSPWSY&callback=initMap">
    </script>
</body>
</html>
